name: PR

on:
  pull_request:
    paths:
      - '**'
      - '!**/*.md'
      - '!**/*.yml'
      - '!**/*.yaml'
      - '.github/workflows/pr.yml'

concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

permissions:
  packages: read

jobs:
  vs-ponyc-release-linux:
    name: Test against recent ponyc release on Linux
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ponylang/shared-docker-ci-standard-builder-with-openssl-3.6.0:release
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Test
        run: make test config=debug ssl=3.0.x
